
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variables */
  --surface-card: #1e1e1e;
  --border-color: #333;
  --primary-color: #00b8ff;
  --text-secondary: #aaa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

input, select, button {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
}

button:hover {
    border-color: #666;
}

button:focus,
input:focus, select:focus {
    outline: 2px solid var(--primary-color);
}
